body {
    background-image: url("http://thepaperwall.com/wallpapers/digital_artwork/big/big_24253b9aef5682d0fd2ea5a4c4918fa66c0b9480.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}
